<h2>Overview</h2>

<!--From AddTransaction.cshtml-->
<!--@using (Ajax.BeginForm("Overview", "Home", null, new AjaxOptions {UpdateTargetId = "tableBody", OnSuccess = "updateOverviewCharts"}, new {@class = "form-inline", role = "form", style = "margin-top:13px"}))
{
@Html.ValidationSummary()

<div class="form-group margin-right-sm" style="width: 175px">
    @Html.LabelFor(tvm => tvm.Date, "Date:")
    @Html.TextBoxFor(tvm => tvm.Date, new {type = "date", @class = "form-control", id = "Date"})
</div>

<div class="form-group margin-right-sm" style="width: 162px">
    @Html.LabelFor(tvm => tvm.PersonName, "Person:")
    @Html.DropDownListFor(tvm => tvm.PersonName, Model.Users, new {@class = "form-control", id = "PersonName", style = "width:162px"})
</div>

<div class="form-group margin-right-sm" style="width: 117px">
    <label for="transtype">Type:</label>
    <div class="form-control" id="transtype">
        @Ajax.ActionLink("Debit", "Overview", new AjaxOptions {Url = Url.Action("GetCategoryNames", new {debit = true}), OnSuccess = "listCategories"})

        &nbsp;|&nbsp;

        @Ajax.ActionLink("Credit", "Overview", new AjaxOptions {Url = Url.Action("GetCategoryNames", new {debit = false}), OnSuccess = "listCategories"})
    </div>
</div>

<div class="form-group margin-right-sm" style="width: 162px">
    @Html.LabelFor(tvm => tvm.CategoryName, "Category:")
    <select class="form-control valid" data-val="true" data-val-required="The Category field is required." id="CategoryName" name="CategoryName" aria-required="true" aria-describedby="CategoryName-error" aria-invalid="false" style="width: 162px"></select>
</div>

<div class="form-group margin-right-sm" style="width: 162px">
    @Html.LabelFor(tvm => tvm.Amount, "Amount:")
    @Html.TextBoxFor(tvm => tvm.Amount, new {type = "text", @class = "form-control", id = "Amount", style = "width:162px"})
</div>

<div class="form-group margin-right-sm" style="width: 221px">
    @Html.LabelFor(tvm => tvm.Note, "Note:")
    @Html.TextBoxFor(tvm => tvm.Note, new {type = "text", @class = "form-control", id = "Note", style = "width:221px"})
</div>

<button type="submit" class="btn btn-default" style="margin-top: 25px">Add</button>
}

<script type="text/javascript">
    document.getElementById("Date").valueAsDate = new Date();
</script>-->
<!--From Overview.cshtml-->

<div class="table-responsive" style="margin-top: 30px">
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th style="width: 190px">Date</th>
                <th style="width: 177px">Person</th>
                <th style="width: 132px">Type</th>
                <th style="width: 177px">Category</th>
                <th style="width: 177px">Amount</th>
                <th>Note</th>
            </tr>
        </thead>

        <!--From ListTransactions.cshtml-->

        <tbody id="tableBody">
            <tr *ngFor="let trans of transactions | keys">
                <td>{{trans.value.date}}</td>
                <td>{{trans.value.personName}}</td>
                <td>{{trans.value.date}}</td>
                <td>{{trans.value.categoryName}}</td>
                <td>{{trans.value.amount}}</td>
                <td>{{trans.value.note}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>

<!--<div style="margin-top: 6px">
    <img id="OverviewLeftChart" src="@Url.Action("DisplayChart", new {chartName="OverviewLeftChart" , dateFrom=DateTime.Today.AddMonths(-6), dateUntil=DateTime.Today, br=DateTime.Now.TimeOfDay.ToString()})" alt="Budget Balance (last 6 months)"/>

    <img id="OverviewRightChart" src="@Url.Action("DisplayChart", new {chartName="OverviewRightChart" , dateFrom=DateTime.Today.AddMonths(-6), dateUntil=DateTime.Today, br=DateTime.Now.TimeOfDay.ToString()})" alt="Spending Distribution (last 6 months)"/>
</div>-->
