<h2>Overview</h2>
<form *ngIf="active" (ngSubmit)="postTransaction(overviewModel)" #transactionForm="ngForm" class="form-inline" role="form" style="margin-top: 13px">

    <div class="form-group margin-right-sm" style="width: 175px">
        <label for="overviewDate">Date:</label>
        <input type="date" class="form-control" id="overviewDate"
               required
               [(ngModel)]="overviewModel.date" name="overviewDate"
               #overviewDate="ngModel">
        <div [hidden]="overviewDate.valid || overviewDate.pristine"
             class="alert alert-danger">
            The Date field is required.
        </div>
    </div>

    <div class="form-group margin-right-sm" style="width: 162px">
        <label for="overviewPersonName">Person:</label>
        <select class="form-control" id="overviewPersonName"
                style="width: 162px" required
                [(ngModel)]="overviewModel.personName" name="overviewPersonName"
                #overviewPersonName="ngModel">
            <option *ngFor="let person of people" [value]="person">{{person}}</option>
        </select>
        <div [hidden]="overviewPersonName.valid || overviewPersonName.pristine" class="alert alert-danger">
            The Person field is required.
        </div>
    </div>

    <div class="form-group margin-right-sm" style="width: 117px">
        <label for="overviewIsDebit">Type:</label>
        <div class="form-control" id="overviewIsDebit">
            <a href="javascript:void(0)" (click)="setTransactionType(true)">Debit</a>
            &nbsp;|&nbsp;
            <a href="javascript:void(0)" (click)="setTransactionType(false)">Credit</a>
        </div>
    </div>

    <div class="form-group margin-right-sm" style="width: 162px">
        <label for="overviewCategoryName">Category:</label>
        <select class="form-control" id="overviewCategoryName"
                style="width: 162px" required
                [(ngModel)]="overviewModel.categoryName" name="overviewCategoryName"
                #overviewCategoryName="ngModel">
            <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
        </select>
        <div [hidden]="overviewCategoryName.valid || overviewCategoryName.pristine" class="alert alert-danger">
            The Category field is required.
        </div>
    </div>

    <div class="form-group margin-right-sm" style="width: 162px">
        <label for="overviewAmount">Amount:</label>
        <input type="text" class="form-control" id="overviewAmount"
               style="width: 162px" required
               [(ngModel)]="overviewModel.amount" name="overviewAmount"
               #overviewAmount="ngModel">
        <div [hidden]="overviewAmount.valid || overviewAmount.pristine"
             class="alert alert-danger">
            The Amount field is required.
        </div>
    </div>

    <div class="form-group margin-right-sm" style="width: 221px">
        <label for="overviewNote">Note:</label>
        <input type="text" class="form-control" id="overviewNote" style="width: 221px" [(ngModel)]="overviewModel.note" name="overviewNote">
    </div>

    <button type="submit" class="btn btn-default" style="margin-top: 25px" [disabled]="!transactionForm.form.valid">Add</button>
</form>

<div class="table-responsive" style="margin-top: 30px">
    <table class="table table-striped table-bordered table-hover table-condensed" style="font-size: 14px">
        <thead>
        <tr>
            <th style="width: 190px">Date</th>
            <th style="width: 177px">Person</th>
            <th style="width: 132px">Type</th>
            <th style="width: 177px">Category</th>
            <th style="width: 177px">Amount</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody id="tableBody">
        <tr *ngFor="let trans of transactions">
            <td>{{trans.date | date: 'dd/MM/yyyy'}}</td>
            <td>{{trans.personName}}</td>
            <td *ngIf="trans.isDebit">Debit</td>
            <td *ngIf="!trans.isDebit">Credit</td>
            <td>{{trans.categoryName}}</td>
            <td>{{trans.amount}}</td>
            <td>{{trans.note}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>

<div style="margin-top: 6px">
    <div id="overviewLeftChart" style="float: left; height: 426px; width: 568px;"></div>

    <div id="overviewRightChart" style="float: right; height: 426px; width: 568px;"></div>
</div>

<div style="clear: both"></div>