<h2>Spending</h2>
<form *ngIf="active" (ngSubmit)="postCategory(categoryModel)" class="form-inline" role="form" style="margin-top: 24px">

    <div class="form-group margin-right-md" style="width: 162px">
        <label for="spendingPersonName">Person:</label>
        <select class="form-control" id="spendingPersonName"
                style="width: 162px" required
                [(ngModel)]="spendingModel.personName" name="spendingPersonName"
                #spendingPersonName="ngModel"
                #selectPersonName>
            <option *ngFor="let person of people" [value]="person">{{person}}</option>
        </select>
        <div [hidden]="spendingPersonName.valid || spendingPersonName.pristine" class="alert alert-danger">
            The Person field is required.
        </div>
    </div>

    <div class="form-group margin-right-md" style="width: 175px">
        <label for="spendingDateFrom">From:</label>
        <input type="date" class="form-control" id="spendingDateFrom"
               style="width: 175px" required
               [(ngModel)]="spendingModel.dateFrom" name="spendingDateFrom"
               #spendingDateFrom="ngModel"
               #inputDateFrom>
        <div [hidden]="spendingDateFrom.valid || spendingDateFrom.pristine"
             class="alert alert-danger">
            The From field is required.
        </div>
    </div>

    <div class="form-group margin-right-md" style="width: 175px">
        <label for="spendingDateUntil">Until:</label>
        <input type="date" class="form-control" id="spendingDateUntil"
               style="width: 175px" required
               [(ngModel)]="spendingModel.dateUntil" name="spendingDateUntil"
               #spendingDateUntil="ngModel"
               #inputDateUntil>
        <div [hidden]="spendingDateUntil.valid || spendingDateUntil.pristine"
             class="alert alert-danger">
            The Until field is required.
        </div>
    </div>

    <div class="form-group margin-right-lg" style="width: 162px">
        <label for="spendingCategoryName">Category:</label>
        <select class="form-control" id="spendingCategoryName"
                style="width: 162px" required
                [(ngModel)]="spendingModel.categoryName" name="spendingCategoryName"
                #spendingCategoryName="ngModel"
                #selectCategoryName>
            <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
        </select>
        <div [hidden]="spendingCategoryName.valid || spendingCategoryName.pristine" class="alert alert-danger">
            The Category field is required.
        </div>
    </div>

    <div class="form-group margin-right-sm" style="width: 162px">
        <label for="spendingNewCategoryName">New Category:</label>
        <input type="text" class="form-control" id="spendingNewCategoryName"
               style="width: 162px" required
               [(ngModel)]="categoryModel.name" name="spendingNewCategoryName"
               #spendingNewCategoryName="ngModel">
        <div [hidden]="spendingNewCategoryName.valid || spendingNewCategoryName.pristine"
             class="alert alert-danger">
            The New Category field is required.
        </div>
    </div>

    <button type="submit" class="btn btn-default" style="margin-top: 25px" [disabled]="!spendingNewCategoryName.valid">Add</button>
</form>

<div style="margin-top: 26px">
    <div id="spendingTopLeftChart" style="float: left; height: 426px; width: 568px;"></div>

    <div id="spendingTopRightChart" style="float: right; height: 426px; width: 568px;"></div>
</div>

<div style="margin-top: 26px">
    <div id="spendingBottomLeftChart" style="float: left; height: 426px; width: 568px;"></div>

    <div id="spendingBottomRightChart" style="float: right; height: 426px; width: 568px;"></div>
</div>

<div style="clear: both"></div>