<div class="jumbotron">
    <h1>Budgeteer</h1>
    <p class="lead">Budgeteer is a free web application for keeping track of where your money comes and goes on a daily basis.</p>
    <p>
        <a class="btn btn-primary btn-lg" routerLink="/overview">Get started &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Overview</h2>
        <p>
            Add new transaction records, look at your most recent ones, and see your budget balance.
        </p>
        <p>
            <a class="btn btn-default" routerLink="/overview">Take me there &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Spending</h2>
        <p>Easily figure out where your money goes to using our customizable column and pie charts.</p>
        <p>
            <a class="btn btn-default" routerLink="/spending">Take me there &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Income</h2>
        <p>Easily figure out where your money comes from using our customizable column and pie charts.</p>
        <p>
            <a class="btn btn-default" routerLink="/income">Take me there &raquo;</a>
        </p>
    </div>
</div>